<p id="notice"><%= notice %></p>

<h1>Mutation Tests</h1>

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Branch</th>
      <th>Build</th>
      <th>Mutant</th>
      <th>File name</th>
      <th>Lineno</th>
      <th>Class</th>
      <th>Method</th>
      <th>Diff</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mutation_tests.each do |mutation_test| %>
      <tr>
        <td><%= mutation_test.application %></td>
        <td><%= mutation_test.branch%></td>
        <td><%= mutation_test.build%></td>
        <td><%= mutation_test.mutant_id %></td>
        <td><%= mutation_test.file_name %></td>
        <td><%= mutation_test.line_number %></td>
        <td><%= mutation_test.class_name %></td>
        <td><%= mutation_test.method_name %></td>
        <td><%= mutation_test.diff %></td>
        <td><%= mutation_test.mutation_type %></td>
        <td><%= link_to 'Show', mutation_test %></td>
        <td><%= link_to 'Edit', edit_mutation_test_path(mutation_test) %></td>
        <td><%= link_to 'Destroy', mutation_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mutation Test', new_mutation_test_path %>
