<p id="notice"><%= notice %></p>

<h1>Mutant Coverage Reports</h1>

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Branch</th>
      <th>Build</th>
      <th>File name</th>
      <th>Covered percent</th>
      <th>Covered strength</th>
      <th>Covered lines</th>
      <th>Lines of code</th>
      <th>Line number</th>
      <th>Repitition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mutant_coverage_reports.each do |mutant_coverage_report| %>
      <tr>
        <td><%= mutant_coverage_report.application %></td>
        <td><%= mutant_coverage_report.branch%></td>
        <td><%= mutant_coverage_report.build%></td>
        <td><%= mutant_coverage_report.file_name %></td>
        <td><%= mutant_coverage_report.covered_percent %></td>
        <td><%= mutant_coverage_report.covered_strength %></td>
        <td><%= mutant_coverage_report.covered_lines %></td>
        <td><%= mutant_coverage_report.lines_of_code %></td>
        <td><%= mutant_coverage_report.line_number %></td>
        <td><%= mutant_coverage_report.repitition %></td>
        <td><%= link_to 'Show', mutant_coverage_report %></td>
        <td><%= link_to 'Edit', edit_mutant_coverage_report_path(mutant_coverage_report) %></td>
        <td><%= link_to 'Destroy', mutant_coverage_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @coverage_reports %>
<%= link_to 'New Mutant Coverage Report', new_mutant_coverage_report_path %>
