<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @mutations_less_so.application %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @mutations_less_so.branch %>
</p>

<p>
  <strong>Build:</strong>
  <%= @mutations_less_so.build %>
</p>

<p>
  <strong>File name:</strong>
  <%= @mutations_less_so.file_name %>
</p>

<p>
  <strong>Line number:</strong>
  <%= @mutations_less_so.line_number %>
</p>

<p>
  <strong>Diff:</strong>
  <%= @mutations_less_so.diff %>
</p>

<%= link_to 'Edit', edit_mutations_less_so_path(@mutations_less_so) %> |
<%= link_to 'Back', mutations_less_sos_path %>
