<p id="notice"><%= notice %></p>

<h1>Smell Offenses</h1>

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Branch</th>
      <th>Build</th>
      <th>File name</th>
      <th>Line number</th>
      <th>Smell Type</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smell_offenses.each do |smell_offense| %>
      <tr>
        <td><%= smell_offense.application %></td>
        <td><%= smell_offense.branch %></td>
        <td><%= smell_offense.build %></td>
        <td><%= smell_offense.file_name %></td>
        <td><%= smell_offense.line_number %></td>
        <td><%= smell_offense.smell_type %></td>
        <td><%= smell_offense.offense %></td>
        <td><%= link_to 'Show', smell_offense %></td>
        <td><%= link_to 'Edit', edit_smell_offense_path(smell_offense) %></td>
        <td><%= link_to 'Destroy', smell_offense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smell Offense', new_smell_offense_path %>
